In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
import pandas as pd
from sklearn import linear_model

In [3]:
price = pd.read_csv('PWHEAMTUSDM.csv') # WHEAT
seeds_0 = pd.read_csv('seeds.csv') # seeds

test = pd.merge(price, seeds_0)

lags = range(1, 13)  # Just two lags for demonstration.

lagged_df = test.assign(**{f'seed_price (t-{lag})': test['WPU02550304'].shift(-lag) for lag in lags})
lagged_df = lagged_df.rename(columns={"WPU02550304": "seed_price (t)", "PWHEAMTUSDM": "wheat_price"})
lagged_df

,DATE,wheat_price,seed_price (t),seed_price (t-1),seed_price (t-2),seed_price (t-3),seed_price (t-4),seed_price (t-5),seed_price (t-6),seed_price (t-7),seed_price (t-8),seed_price (t-9),seed_price (t-10),seed_price (t-11),seed_price (t-12)
0,1991-06-01,120.151794,100.000,102.400,102.400,102.400,101.700,102.8,102.5,102.4,101.7,101.6,101.5,103.4,103.4
1,1991-07-01,118.209587,102.400,102.400,102.400,101.700,102.800,102.5,102.4,101.7,101.6,101.5,103.4,103.4,103.4
2,1991-08-01,125.326843,102.400,102.400,101.700,102.800,102.500,102.4,101.7,101.6,101.5,103.4,103.4,103.4,103.6
3,1991-09-01,135.372879,102.400,101.700,102.800,102.500,102.400,101.7,101.6,101.5,103.4,103.4,103.4,103.6,102.6
4,1991-10-01,146.887192,101.700,102.800,102.500,102.400,101.700,101.6,101.5,103.4,103.4,103.4,103.6,102.6,102.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,2023-10-01,216.463939,187.977,186.640,187.556,187.396,187.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,2023-11-01,216.000269,186.640,187.556,187.396,187.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,2023-12-01,229.633413,187.556,187.396,187.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,2024-01-01,226.078532,187.396,187.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,2024-02-01,219.238068,187.544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
y_lag = lagged_df.wheat_price # target
col_names = lagged_df.columns.values.tolist()
col_names.remove('DATE')
col_names.remove('wheat_price')
X_lag = lagged_df[col_names]

In [5]:
#run correlations
#for each in col_names, run a correlation with wheat prices
corr_lag = {}
for i, e in enumerate(X_lag):
    corr_lag['t+'+ str(i)] = lagged_df["wheat_price"].corr(lagged_df[e])
    print(f"When lagged by {i} months, the correlation between wheat prices and seed prices is {corr_lag['t+'+str(i)]}.")

When lagged by 0 months, the correlation between wheat prices and seed prices is 0.46427014826258917.
When lagged by 1 months, the correlation between wheat prices and seed prices is 0.468595798387648.
When lagged by 2 months, the correlation between wheat prices and seed prices is 0.47228889427721665.
When lagged by 3 months, the correlation between wheat prices and seed prices is 0.47603345897451294.
When lagged by 4 months, the correlation between wheat prices and seed prices is 0.47970941091778485.
When lagged by 5 months, the correlation between wheat prices and seed prices is 0.4838935305506063.
When lagged by 6 months, the correlation between wheat prices and seed prices is 0.4879708027006044.
When lagged by 7 months, the correlation between wheat prices and seed prices is 0.4902769864893911.
When lagged by 8 months, the correlation between wheat prices and seed prices is 0.4926146072865159.
When lagged by 9 months, the correlation between wheat prices and seed prices is 0.4953773858928509.
When lagged by 10 months, the correlation between wheat prices and seed prices is 0.49740006595031266.
When lagged by 11 months, the correlation between wheat prices and seed prices is 0.49918787175775176.
When lagged by 12 months, the correlation between wheat prices and seed prices is 0.5013909035767171.